<section id="about" class="py-20 bg-gray-50">
  <div class="container-main">
    <div class="mb-16 text-center">
      <h2 class="text-4xl font-bold text-amber-800">
        База отдыха "Медвежий Угол"
      </h2>
      <p class="text-lg text-gray-600">
        Это уединение от городской суеты, в чаще живописного уголка природы.
      </p>
    </div>

    <div class="grid gap-8 md:grid-cols-3">
      <each loop="achievement in achievements">
        <div
          class="p-8 text-center transition-all shadow-lg bg-gradient-to-b from-amber-50 to-amber-100 rounded-3xl hover:shadow-2xl group"
        >
          <h3 class="mb-4 text-2xl font-semibold text-slate-800">
            <span
              class="block mb-2 text-4xl font-bold transition-colors text-amber-700 group-hover:text-amber-800"
            >
              {{ achievement.titleTop }}
            </span>
            <span class="text-lg font-medium text-slate-700">
              {{ achievement.title }}
            </span>
          </h3>

          <div
            class="w-16 h-1 mx-auto mb-4 rounded-full bg-gradient-to-r from-amber-400 to-amber-600"
          ></div>

          <p class="text-base leading-relaxed text-slate-600">
            {{ achievement.description }}
          </p>
        </div>
      </each>
    </div>
  </div>
</section>

<script locals>
  module.exports = {
    achievements: [
      {
        titleTop: "12 лет",
        title: "опыта создания незабываемых событий",
        description:
          "Мы с любовью и профессионализмом организуем каждый момент вашего праздника, создавая уникальные события.",
      },
      {
        titleTop: "500+",
        title: "проведенных свадеб",
        description:
          "Мы гордимся тем, что сделали свадьбы наших гостей по-настоящему запоминающимися и волшебными.",
      },
      {
        titleTop: "50 000",
        title: "гостей побывали в нашем незабываемом месте",
        description:
          "Тысячи гостей, оставивших самые тёплые воспоминания, выбрали нашу базу для своих торжеств.",
      },
    ],
  };
</script>
