<section id="advantages" class="py-12 bg-slate-50 md:py-16">
  <div class="container-main">
    <h2
      class="mb-6 text-2xl font-bold text-center md:mb-12 md:text-3xl text-amber-800"
    >
      Почему выбирают нас
    </h2>

    <ul
      class="grid gap-4 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-3 sm:gap-5"
    >
      <each loop="advantage in advantages">
        <li
          class="relative p-4 overflow-hidden transition-all duration-300 bg-white rounded-md hover:shadow-xs md:p-5 hover:-translate-y-1 group"
        >
          <div
            class="absolute inset-0 transition-opacity duration-200 opacity-0 bg-gradient-to-br from-amber-50/15 to-white/20 group-hover:opacity-100"
          ></div>

          <div class="relative flex flex-col h-full">
            <icon
              src="{{advantage.icon}}"
              class="mb-2 transition-transform duration-300 w-7 h-7 md:w-10 md:h-10 text-amber-600 group-hover:scale-95 group-hover:text-amber-700"
            >
            </icon>

            <h3
              class="mb-1.5 text-sm font-semibold md:text-base md:mb-2 text-slate-700"
            >
              {{ advantage.title }}
              <span
                class="block w-5 h-0.5 mt-1 transition-all duration-300 bg-amber-400 rounded-full md:w-6 md:mt-1.5 group-hover:w-8"
              ></span>
            </h3>

            <p
              class="text-xs leading-snug text-slate-600 md:text-[0.8rem] group-hover:text-slate-700"
            >
              {{ advantage.description }}
            </p>
          </div>
        </li>
      </each>
    </ul>
  </div>
</section>

<script locals>
  module.exports = {
    advantages: [
      {
        title: "Авторская кухня",
        description:
          "Блюда готовятся на территории из свежих продуктов. Уникальное меню и красивая подача от наших шеф-поваров.",
        icon: "public/svg/chef-hat.svg", // Иконка повара/кухни
      },
      {
        title: "Организация под ключ",
        description:
          "От идеи до реализации: берем на себя все заботы — декор, логистика, развлечения и техническое сопровождение.",
        icon: "public/svg/checklist.svg", // Иконка чек-листа
      },
      {
        title: "Территория Базы Отдыха",
        description:
          "Большой выбор домов для отдыха, а также сауна с бассеином и беседкой для празднования второго дня свадьбы!",
        icon: "public/svg/trees.svg", // Иконка деревьев/природы
      },
      {
        title: "Живописные зоны регистрации",
        description:
          "2 локации  для идеальных фотографий и трогательных моментов.",
        icon: "public/svg/heart.svg", // Иконка свадебной арки
      },
      {
        title: "Уединенная территория",
        description:
          "Закрытая площадка в лесу для приватности вашего праздника. Никаких посторонних!",
        icon: "public/svg/trees.svg", // Иконка деревьев/природы
      },
      {
        title: "Декор от площадки",
        description:
          "Команда декораторов создаст атмосферу вашей мечты: от классики до современных трендов.",
        icon: "public/svg/paint-brush.svg", // Иконка кисти/декора
      },
      {
        title: "Музыка 24/7",
        description:
          "Никаких ограничений по времени. Любой жанр, любая громкость — праздник не умолкает!",
        icon: "public/svg/music-note.svg", // Иконка нот/динамика
      },
      {
        title: "Бесплатная парковка",
        description:
          "Просторная охраняемая парковка для всех гостей. Не нужно волноваться за автомобили.",
        icon: "public/svg/parking.svg", // Иконка парковки
      },
      {
        title: "Подарки при бронировании",
        description:
          "Двухместных домик для молодоженов на сутки. Пирамида из бокалов шампанского. Шоу-подача от Шеф-повара.",
        icon: "public/svg/gift.svg", // Иконка подарка
      },
    ],
  };
</script>
