<section id="tents" class="py-20 bg-white">
  <div class="container-main">
    <div
      class="grid items-center grid-cols-1 gap-6 mb-6 md:mb-20 md:grid-cols-2"
    >
      <div class="relative order-last md:order-none">
        <img
          loading="lazy"
          src="/images/tents/01-01.jpg"
          alt="Шатёр"
          class="object-cover w-full h-full rounded-lg shadow-lg"
        />
      </div>

      <div class="pl-4">
        <h2 class="mb-4 text-4xl font-bold text-green-800">Шатёр "Венеция"</h2>
        <div class="w-16 h-1 mb-4 bg-green-800"></div>
        <p class="mb-6 text-lg text-gray-600">от 70 до 150 гостей</p>
        <p class="mb-6 text-lg text-gray-600">
          Шатёр «Венеция» — это роскошь и стиль, который позволит вашим гостям
          насладиться живописными видами и невероятной атмосферой. Великолепное
          место для проведения свадеб, банкетов и других торжеств.
        </p>
        <ul class="pl-6 space-y-2 text-lg text-gray-600 list-disc">
          <li>Мастер 250 м² с климатической системой</li>
          <li>Красивое новое белые стулья "Кьевори"</li>
          <li>Новая сервировочная посуда</li>
          <li>Панормамное остекление</li>
          <li>Круглые и прямоугольные башенные стены</li>
          <li>Большой выбор декора</li>
          <li>Подсветка территорий шатра в ночное время суток</li>
        </ul>
      </div>
    </div>

    <div class="grid grid-cols-1 gap-6 mb-20 sm:grid-cols-2 md:grid-cols-3">
      <img
        loading="lazy"
        src="/images/tents/01-02.avif"
        alt="Шатёр"
        class="object-cover w-full h-64 rounded-lg shadow-lg xl:h-96"
      />
      <img
        loading="lazy"
        src="/images/tents/01-03.jpg"
        alt="Шатёр"
        class="object-cover w-full h-64 rounded-lg shadow-lg xl:h-96"
      />
      <img
        loading="lazy"
        src="/images/tents/01-04.jpg"
        alt="Шатёр"
        class="object-cover w-full h-64 rounded-lg shadow-lg xl:h-96"
      />
    </div>

    <div class="grid items-center grid-cols-1 gap-6 md:mb-20 md:grid-cols-2">
      <div class="pl-4">
        <h2 class="mb-4 text-4xl font-bold text-green-800">
          Шатёр "Императорский сад"
        </h2>
        <div class="w-16 h-1 mb-4 bg-green-800"></div>
        <p class="mb-6 text-lg text-gray-600">
          Шатёр «Вишневый сад» — это уютное и уединённое место, окружённое
          зеленью, где каждый момент кажется волшебным. Отличное место для самых
          тёплых и интимных праздников.
        </p>
        <ul class="pl-6 space-y-2 text-lg text-gray-600 list-disc">
          <li>Скрытое местоположение среди зелени и природы</li>
          <li>Закрытая площадка с потрясающим видом на сад</li>
          <li>Идеально подходит для небольших свадеб и семейных мероприятий</li>
        </ul>
      </div>
      <div class="relative mb-6 md:mb-0">
        <img
          loading="lazy"
          src="/images/tents/02-01.jpg"
          alt="Шатёр"
          class="object-cover w-full h-full rounded-lg shadow-lg"
        />
      </div>
    </div>

    <div class="grid grid-cols-1 gap-6 sm:grid-cols-2 md:grid-cols-3">
      <img
        loading="lazy"
        src="/images/tents/02-02.jpg"
        alt="Шатёр"
        class="object-cover w-full h-64 rounded-lg shadow-lg xl:h-96"
      />
      <img
        loading="lazy"
        src="/images/tents/02-03.jpg"
        alt="Шатёр"
        class="object-cover w-full h-64 rounded-lg shadow-lg xl:h-96"
      />
      <img
        loading="lazy"
        src="/images/tents/02-04.jpg"
        alt="Шатёр"
        class="object-cover w-full h-64 rounded-lg shadow-lg xl:h-96"
      />
    </div>
  </div>
</section>
