<section id="tents" class="py-20 bg-white">
  <div class="container-main">
    <div
      class="grid items-center grid-cols-1 gap-6 mb-6 md:mb-20 md:grid-cols-2"
    >
      <div class="relative order-last md:order-none">
        <a href="/images/tents/01-01.jpg" data-fancybox="tent-01">
          <img
            loading="lazy"
            src="/images/tents/01-01.jpg"
            alt="Шатёр"
            class="object-cover w-full h-full rounded-lg shadow-lg"
          />
        </a>
      </div>

      <div class="pl-4">
        <h2 class="mb-4 text-4xl font-bold text-amber-800">Шатёр "Венеция"</h2>

        <div class="w-16 h-1 mb-4 bg-amber-800"></div>

        <p class="mb-6 text-lg text-gray-600">от 70 до 150 гостей</p>

        <ul class="pl-6 space-y-2 text-lg text-gray-600 list-disc">
          <li>
            Уютный шатёр 250 м<sup>2</sup> с большой климатической системой
            кондиционирования
          </li>

          <li>Панорамное остекление</li>

          <li>Новые банкетные стулья «Кьявари»</li>

          <li>Новая сервировочная посуда</li>

          <li>Большой выбор декора</li>

          <li>Подстветка территории в ночное время суток</li>
        </ul>
      </div>
    </div>

    <div class="grid grid-cols-1 gap-6 mb-20 sm:grid-cols-2 md:grid-cols-3">
      <a href="/images/tents/01-07.jpg" data-fancybox="tent-01">
        <img
          loading="lazy"
          src="/images/tents/01-07.jpg"
          alt="Шатёр"
          class="object-cover w-full h-64 rounded-lg shadow-lg xl:h-96"
        />
      </a>

      <a href="/images/tents/01-06.jpg" data-fancybox="tent-01">
        <img
          loading="lazy"
          src="/images/tents/01-06.jpg"
          alt="Шатёр"
          class="object-cover w-full h-64 rounded-lg shadow-lg xl:h-96"
        />
      </a>

      <a href="/images/tents/01-05.jpg" data-fancybox="tent-01">
        <img
          loading="lazy"
          src="/images/tents/01-05.jpg"
          alt="Шатёр"
          class="object-cover w-full h-64 rounded-lg shadow-lg xl:h-96"
        />
      </a>

      <a href="/images/tents/01-03.jpg" data-fancybox="tent-01">
        <img
          loading="lazy"
          src="/images/tents/01-03.jpg"
          alt="Шатёр"
          class="object-cover w-full h-64 rounded-lg shadow-lg xl:h-96"
        />
      </a>

      <a href="/images/tents/01-02.jpg" data-fancybox="tent-01">
        <img
          loading="lazy"
          src="/images/tents/01-02.jpg"
          alt="Шатёр"
          class="object-cover w-full h-64 rounded-lg shadow-lg xl:h-96"
        />
      </a>

      <a href="/images/tents/01-04.jpg" data-fancybox="tent-01">
        <img
          loading="lazy"
          src="/images/tents/01-04.jpg"
          alt="Шатёр"
          class="object-cover w-full h-64 rounded-lg shadow-lg xl:h-96"
        />
      </a>
    </div>

    <div class="grid items-center grid-cols-1 gap-6 md:mb-20 md:grid-cols-2">
      <div class="pl-4">
        <h2 class="mb-4 text-4xl font-bold text-amber-800">
          Шатёр "Императорский сад"
        </h2>

        <p class="mb-6 text-lg text-gray-600">
          IMPERIAL GARDEN — это целый ГЕКТАР приватной территории. Уютное и
          уединённое место окружённое зеленью, где каждый момент кажется
          волшебным.
        </p>

        <p class="mb-6 text-lg text-gray-600">
          Идеально подходит для больших свадебных торжеств и семейных
          мероприятий.
        </p>

        <p class="mb-6 text-lg text-gray-600">от 130 до 300 гостей</p>

        <ul class="pl-6 space-y-2 text-lg text-gray-600 list-disc">
          <li>Скрытое местоположение среди зелени и природы</li>

          <li>Закрытая площадка с потрясающим видом на сад</li>

          <li>На территории растилается прекрасный зеленый рулонный газон</li>

          <li>Большая вместительная парковка</li>

          <li>Панорамное остекление шатра</li>

          <li>Подсветка территории в ночное время с изысканами фонарями</li>

          <li>Отдельная территория для выездной регистрации</li>

          <li>Большое пространство для воплощения ваших идей и желаний</li>
        </ul>
      </div>
      <div class="relative mb-6 md:mb-0">
        <a href="/images/tents/02-01.jpg" data-fancybox="tent-02">
          <img
            loading="lazy"
            src="/images/tents/02-01.jpg"
            alt="Шатёр"
            class="object-cover w-full h-full rounded-lg shadow-lg"
          />
        </a>
      </div>
    </div>

    <div class="grid grid-cols-1 gap-6 sm:grid-cols-2 md:grid-cols-3">
      <a href="/images/tents/02-06.jpg" data-fancybox="tent-02">
        <img
          loading="lazy"
          src="/images/tents/02-06.jpg"
          alt="Шатёр"
          class="object-cover w-full h-64 rounded-lg shadow-lg xl:h-96"
        />
      </a>

      <a href="/images/tents/02-07.jpeg" data-fancybox="tent-02">
        <img
          loading="lazy"
          src="/images/tents/02-07.jpeg"
          alt="Шатёр"
          class="object-cover w-full h-64 rounded-lg shadow-lg xl:h-96"
        />
      </a>

      <a href="/images/tents/02-03.jpg" data-fancybox="tent-02">
        <img
          loading="lazy"
          src="/images/tents/02-03.jpg"
          alt="Шатёр"
          class="object-cover w-full h-64 rounded-lg shadow-lg xl:h-96"
        />
      </a>

      <a href="/images/tents/02-02.jpg" data-fancybox="tent-02">
        <img
          loading="lazy"
          src="/images/tents/02-02.jpg"
          alt="Шатёр"
          class="object-cover w-full h-64 rounded-lg shadow-lg xl:h-96"
        />
      </a>

      <a href="/images/tents/02-05.jpg" data-fancybox="tent-02">
        <img
          loading="lazy"
          src="/images/tents/02-05.jpg"
          alt="Шатёр"
          class="object-cover w-full h-64 rounded-lg shadow-lg xl:h-96"
        />
      </a>

      <a href="/images/tents/02-04.jpg" data-fancybox="tent-02">
        <img
          loading="lazy"
          src="/images/tents/02-04.jpg"
          alt="Шатёр"
          class="object-cover w-full h-64 rounded-lg shadow-lg xl:h-96"
        />
      </a>
    </div>
  </div>
</section>
